<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <!-- BOOTSTRAP CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />

    <!-- OUR CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  </head>
  <body>
    <!-- NAVIGATION MENU -->
    <!-- <nav class="navbar navbar-expand-lg bg-light"> -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Group 4 - Steam API</a> -->
        <h1>Admin Panel</h1>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="/getnews" class="btn btn-primary nav-btn">Game News</a>
            </li>
            <li class="nav-item">
              <a href="/getownedgames" class="btn btn-primary nav-btn">Owned Games</a>
            </li>
            <li class="nav-item">
              <a href="/" class="btn btn-primary nav-btn">Dashboard</a>
            </li>
            <li class="nav-item">
              <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-primary nav-btn">Log Out</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- ADMIN PANEL CODE -->
    <div class="container pt-5 pb-5">
      <table id="myTable" class="table table-dark table-hover">
        <!-- <table class="table table-light table-hover"> -->
        <!-- <h1>Admin Panel</h1> -->
        <thead>
          <!-- <tr class="row"> -->
          <tr>
            <th class="admin-header" scope="col">#</th>
            <th class="admin-header" scope="col">Username</th>
            <th class="admin-header" scope="col">Password</th>
            <th class="admin-header" scope="col">Steam User ID</th>
            <th class="admin-header" scope="col">Steam API Key</th>
            <th class="admin-header" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- LOOPS THROUGH ALL USERS OBJECTS -->
          <% for(var user of data) { %>
          <tr class="user-row">
            <th scope="row" class="admin-row"><%= user.id %></th>
            <td class="admin-user"><%= user.email %></td>
            <td class="admin-password"><%= user.password %></td>
            <td class="admin-id"><%= user.steamid %></td>
            <td class="admin-apikey"><%= user.apikey %></td>
            <td class="admin-actions">
              <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i> View</a>
              <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i> Edit</a>
              <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> Delete User</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <!-- BOOTSTRAP JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
