<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Compare Games with Friend</h1>
    <!-- <%= loc = myGameArr %> -->
      <table>
        <thead>
          <th>Game ID</th>
          <th>Game Name</th>
          <th>PlayTime</th>
          <th>Game Icon</th>
        </thead>
        <% for(var i=0; i < myGameArr.length; i++) { %>
        <tr>
          <td><%= myGameArr[i].appid %></td>
          <td><%= myGameArr[i].name %></td>
          <td><%= myGameArr[i].playtime_forever %></td>
          <td><%= myGameArr[i].img_icon_url %></td>
        </tr>
        <% } %>
      </table>
    </table>

    <table>
        <thead>
          <th>Game ID</th>
          <th>Game Name</th>
          <th>PlayTime</th>
          <th>Game Icon</th>
        </thead>
        <% for(var i=0; i < friendsGameArray.length; i++) { %>
        <tr>
          <td><%= friendsGameArray[i].appid %></td>
          <td><%= friendsGameArray[i].name %></td>
          <td><%= friendsGameArray[i].playtime_forever %></td>
          <td><%= friendsGameArray[i].img_icon_url %></td>
        </tr>
        <% } %>
      </table>
    </table>
</body>
</html>