<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet" />

    <!-- BOOTSTRAP CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <!-- OUR CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <title>Steam API Dashboard</title>
  </head>
  <body>

    <!-- <div id="preloader"></div> -->

    <!-- NAVIGATION MENU -->
    <!-- <nav class="navbar navbar-expand-lg bg-light"> -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Group 4 - Steam API</a> -->
        <span class="group">Group 4 - Steam API</span>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="/" class="btn btn-primary nav-btn">Go Back To Dashboard</a>
            </li>
            <li class="nav-item">
              <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-primary nav-btn">Log Out</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1 class="page-header">Get Friends List</h1>
    <!-- <%= loc =  playerArr %> -->
    <div class="table-responsive-xxl center-table-friends fade-in">
      <table class="table align-middle table-dark custom-table friends-list-table">
        <thead>
          <tr>
          <th class="admin-header" scope="col">Index</th>
          <th class="admin-header" scope="col">Avatar</th>
          <!-- <th class="admin-header" scope="col">Steam Id</th> -->
          <th class="admin-header" scope="col">Steam Username</th>
          <th class="admin-header" scope="col">Privacy</th>
          <th class="admin-header action-friends-list" scope="col">Action</th>
          
          <!-- TEMPORARY - DELETE AFTER -->
          <th class="admin-header" scope="col">Profile Url</th>
          <th class="admin-header" scope="col">Invite Friend</th>

        </tr>
        </thead>
        <% for(var i=0; i < loc.length; i++) { %>
        <tr class="row-hover">
          <td class="api-text table-dark"><%= i + 1 %></td>
          <!-- <td class="api-text table-dark"><%= loc[i].steamid %></td> -->
          <td class=" table-dark">
            <img src=<%= loc[i].avatarmedium %> class="game-icon">
            </img>
          </td>
          <td class="api-text table-dark"><%= loc[i].personaname %></td>
   
          <!-- TEMPORARY -->
          <td class="api-text table-dark">
            <!-- <h1><%= loc[i].communityvisibilitystate %> </h1> -->
           
            <% if(loc[i].communityvisibilitystate == 1 || loc[i].communityvisibilitystate == 2){ %>
              <!-- PRIVATE ACCOUNT - Display Button -->
              <h1 class="api-text table-dark">Private</h1>
              <% } else{ %>
                <!-- Status 3 - Public display Profile URL -->
              <h1 class="api-text table-dark">Public</h1>
            <% } %>
          </td>

          <td class="action-friends-list">
              <% if(loc[i].communityvisibilitystate == 1 || loc[i].communityvisibilitystate == 2){ %>
                <!-- PRIVATE ACCOUNT - Display Button -->

                <button
              href=""
              type="button"
              title="Compare Games"
              class="btn btn-outline btn-small action-btn friends-list-btn action-friends-list disabled-btn"
              ><i class="bi bi-person-x"></i>Compare Games</button
            >
                <% } else{ %>
                  <!-- Status 3 - Public display Profile URL -->
                  <a
                  href="/compareGames/<%= loc[i].steamid %>"
                  type="button"
                  title="Compare Games"
                  class="btn btn-outline btn-small action-btn friends-list-btn action-friends-list"
                  ><i class="bi bi-person-x"></i>Compare Games</a
                >
              <% } %>
            </td>

            <!-- Make compare game disabled or active depending if their acc is public or private -->

            <td class="api-text table-dark">
              <h1 class="api-text table-dark"><%= loc[i].profileurl %></h1>
            </td>
            <td class="api-text table-dark">
              <h1 class="api-text table-dark"><a href="/getFriendsList/inviteFriend/<%= loc[i].steamid %>" class="btn btn-outline btn-small private-btn friends-list-btn action-friends-list">Invite</a></h1>
            </td>
        </tr>
        <% } %>
      </table>
    </table>
  </div>

    <!-- BOOTSTRAP JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

    <!-- OUR JS FILE -->
    <script src="./javascripts/script.js"></script>
  </body>
</html>

