<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello guys its me Niko</h1>
    <h2> <%= friends_summaries %> </h2>
    <!-- <%= loc =  playerArr %> -->
      <table>
        <thead>
          <th>Index</th>
          <th>Steam Id</th>
          <th>Steam Username</th>
          <th>Profile Url</th>
          <th>Avatar</th>
        </thead>
        <% for(var i=0; i < loc.length; i++) { %>
        <tr>
          <td class="api-text table-dark"><%= i + 1 %></td>
          <td class="api-text table-dark"><%= loc[i].steamid %></td>
          <td class="api-text table-dark"><%= loc[i].personaname %></td>
          <td class="api-text table-dark"><%= loc[i].profileurl %></td>
          <td class="api-text table-dark"><%= loc[i].avatarmedium %></td>

          <td class="admin-actions">
            <!-- <a href="#" type="button" class="btn btn-outline btn-small action-btn"><i class="bi bi-eye"></i> View</a> -->
            <a
              href="/compareGames/<%= loc[i].steamid %>"
              type="button"
              title="Compare Games"
              >Compare Games</a
            >

        </tr>
        <% } %>
      </table>
    </table>


    

</body>
</html>